<html>
  <head>
    <title> Web Guesser </title>
    <style>
    </style>
  </head>
  <boby> <h2>Web Guesser</h2>
    <form>
      <input type='text' name='guess' />
      <input type="submit" value="Guess!" />
    </form>
    <p>
      <%= message %>
    </p>
  </boby>
</html>


